/* Move down content because we have a fixed navbar that is 3.5rem tall */
html > body {
  padding-top: 5.5rem;
}

.navbar {
  background: #03564b;
}

.jumbotron {
  margin: 0 2rem 2rem;
  background: url("/assets/jumbotron-image.jpg") #989898;
  background-position: 50% 80%;
  background-blend-mode: multiply;
}

.jumbotron .container {
  text-shadow: 0 0 10px #000;
}

.dib-post img.dib-post-featured-image {
  max-height: 14rem;
  object-fit: cover;
}

ul.dib-cat-menu li a {
  color: #03564b;
}

.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled):active {
  background: #03564b;
  border-color: #03564b;
}

.btn-secondary:hover {
  background: #023e36;
}

.list-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.single-post {
  max-width: 70ch;
  line-height: 1.6;
}

.single-post img,
.card-post img {
  max-width: 100%;
  height: auto;
}

.card-post img {
  max-height: 18em;
  object-fit: cover;
  width: 100%;
}

.single-post aside,
.single-post footer,
.card-post aside {
  opacity: 0.75;
  padding: 1em 0 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 1em;
}

.card-post aside {
  display: block;
  font-size: 0.75em;
}
